
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px;">
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 600px;background-color:rgb(230, 208, 182);margin-bottom: 0px;">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="nav-item active current">
            <a class="nav-link" routerLink=""><h2 style="color: gray; margin-bottom: 0px;" >Welcome</h2><span class="sr-only">(current)</span></a>
          </li>
      <!--  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose City
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="about/cairo">Cairo</a>
            <a class="dropdown-item" routerLink="about/luxor">Luxor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
</li>
-->
      </ul>
    </div>
  </nav>
