<p>posts works!</p>
<form
#myForm='ngForm'
(ngSubmit)='addPosts(myForm.value);myForm.reset()'
>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" 
    class="form-control" 
    id="title"
    name='title'
    ngModel
    aria-describedby="emailHelp" 
    placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <input type="text" 
    class="form-control" 
    id="body" 
    ngModel
    name="body"
    placeholder="body">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let post of posts'>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td>
            <a routerLink="/singlePost/{{post.id}}">
                <button type="btn btn-primary">views</button>
            </a>
        </td>
        <td>
          <a routerLink="/updatePost/{{post.id}}">
              <button type="btn btn-primary">update</button>
          </a>
      </td>

        <td>
          
          <button type="btn btn-primary" (click)='deletePosts(post)'>delete</button>
        </td>

      </tr>
    
    </tbody>
  </table>
