<p>city works!</p>
<!--
    <p>weather works!</p>
<span>
<span>
 nameofcontry: {{country}}
 //nameofday:{{todayname}}
   // {{weather.data.request[0].query}}
</span>
</span>
<p>time : {{weather.data.current_condition[0].observation_time}}</p>

<div>
<p>temp in C: {{weather.data.current_condition[0].temp_C}} C </p>
<p>feels like:{{weather.data.current_condition[0].FeelsLikeC}} C</p>
<img src="{{weather.data.current_condition[0].weatherIconUrl[0].value}}">
</div>
<div>
   weather description: {{weather.data.current_condition[0].weatherDesc[0].value}}
</div>
<p>wind speed:{{weather.data.current_condition[0].windspeedKmph}} km/h</p>

<p>humidity:{{weather.data.current_condition[0].humidity}} </p>
<p>visibility :{{weather.data.current_condition[0].visibility}} </p>
<div>sunrise : {{weather.data.weather[0].astronomy[0].sunrise}} </div>
<div>sunset : {{weather.data.weather[0].astronomy[0].sunset}} </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">temp in C</th>
        <th scope="col">Wind speed (km/h)</th>
      </tr>
    </thead>
    <tbody>
        
         <tr *ngFor='let hour of hourly;let i=index'>
            <td>at:{{hour.time}}</td>
            <td scope="col"><img src='{{hour.weatherIconUrl[0].value}}'></td>
            <td>{{hour.tempC}} C</td>
            <td >{{hour.windspeedKmph}} km/h</td>
         
        </tr>
          </tbody>
  </table>
  <div class="flex-md-4" *ngFor='let day of days;let i=index'>
      <div class="flex-md-4">Day #{{getNextday(i)}}</div>
      <div class="flex-md-4">Date : {{day.date}}</div>
      <div class="flex-md-4">temp in C: {{day.avgtempC}} C</div>
      <div class="flex-md-4"><img src="{{day.hourly[3].weatherIconUrl[0].value}}" ></div>
      <div class="flex-md-4">weather description: {{day.hourly[3].weatherDesc[0].value}}</div>
    </div>
    
    <!-- here we start
    <html>
      <head>
      </head>
      <body>
        <div class="container-fluid" style="background-color:burlywood;">
          <div class="row">
          -->
 <!--         da already commented  <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 offset-sm-0"style="background-color:blue">
              <h4 class="text-center" style="margin: auto; margin-top: 30px; margin-bottom: 10px;">WHY CONTACT US?</h4>
              <p style="text-align: center;">essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker </p>
            </div>
          -->    
          <!--   
          <div class="card col-lg-6 offset-lg-3 col-md-6 offset-md-3 offset-sm-0 .cardclass" >
            <img class="card-img" src={{source}} alt="Card image cap">
            <div class="card-img-overlay " style="color:rgb(218, 210, 202) ;">
              <h2 class="card-title"> {{country}}</h2>
              <h4 class="display-3">{{weather.data.current_condition[0].temp_C}}<span class="symbol">°</span>C</h4>
              <p class="card-text">Feels like:{{weather.data.current_condition[0].FeelsLikeC}}<span class="symbol">°</span> C</p>
              <div class="display-4">
                {{weather.data.current_condition[0].weatherDesc[0].value}}</div><span>Wind speed:{{weather.data.current_condition[0].windspeedKmph}} km/h
             ,Humidity:{{weather.data.current_condition[0].humidity}}</span>
            </div>
          
            <div class="card-group" >
              <div class="card col-lg-3 col-md-2 col-sm-1 float-left"style="display:inline-block; padding-top:10px;" *ngFor='let day of days;let i=index'>
              --><!--   da already commented<img class="card-img-top rounded-circle img-thumbnail" src="{{day.hourly[3].weatherIconUrl[0].value}}" alt="Card image cap">
                -->
                <!--<div class="card-body" style="
                background-image: url({{backgroundImg}});
                height: 120px;
                ">
                  <p style="margin-bottom: 0px;">{{getNextday(i)}}</p>
                  <p style="margin-bottom: 0px;">{{day.avgtempC}}<span class="symbol">°</span>C</p>
                  <p><small class="text-muted">{{day.hourly[3].weatherDesc[0].value}}</small></p>
                </div>
              </div>

            
          </div>
          </div>
        </div>
      </div>
      </body>
    </html>

-->